/* html {
    scroll-snap-type: y mandatory;
}

.section {
    scroll-snap-align: start;
} */

.bg-1{
    background: url(../img/bg_1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-2{
    background: url(../img/bg_2.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-3{
    background: url(../img/bg_3.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-nav{
    position: fixed;
    top: 50%;
    left: 10%;
}

.vertical-container{
    width: 100vw;
    min-height: 100vh;
}

.section-padding{
    padding-top: 25rem;
    padding-bottom: 25rem;
}

.section-width{
    width: 20rem;
}

.section-width-double{
    width: 40rem;
}

.title-text{
    font-size: 48px;
}

.page-content {
    display: none; 
}

.page-content.active {
    display: flex; 
}

.page-link:hover{
    cursor: pointer;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.7) !important;
}