/* html {
    scroll-snap-type: y mandatory;
}

.section {
    scroll-snap-align: start;
} */
 

.bg-1{
    background: url(../img/bg_1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-2{
    background: url(../img/bg_2.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-3{
    background: url(../img/bg_3.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-nav{
    position: fixed;
    top: 50%;
    left: 10%;
}

.vertical-container{
    width: 100vw;
    min-height: 100vh;
}

.section-padding{
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.section-width{
    width: 20rem;
}

.section-width-double{
    width: 40rem;
}

.title-text{
    font-size: 58px !important;
}

.page-content {
    display: none; 
}

.page-content.active {
    display: flex; 
}

.page-link:hover{
    cursor: pointer;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.bounce-hover:hover{
    animation: bounce;
    animation-duration: 0.7s;
}

.swing-hover:hover{
    animation: swing;
    animation-duration: 0.5s;
}

.rubberBand-hover:hover{
    animation: rubberBand;
    animation-duration: 1s;
}


/* .carousel-control-prev{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.carousel-control-next{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
} */

.bg-linear-black{
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-position: center;
    background-size: contain;
}

.bg-linear-black-top{
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-position: center;
    background-size: contain;
}

.bg-linear-black-bottom{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-position: center;
    background-size: contain;
}

.bg-linear-secondary-horizontal{
    background: linear-gradient(to right, rgba(109, 118, 126, 0), rgb(109, 118, 126, 0.5), rgba(109, 118, 126, 0));
    background-position: center;
    background-size: contain;
}

.bg-circular-secondary{
    background: radial-gradient(circle, rgb(109, 118, 126, 0.5), rgba(109, 118, 126, 0));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation-arrow{
    position: fixed;
    bottom: 2.5%;
    right: 2.5%;
    cursor: pointer;
    color: white;
    z-index: 99999;
}
